{% extends 'core/base.html' %}
{% block title %}
Eliminar insumos
{% endblock %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="static/core/css/style.css">
<link rel="stylesheet" href="static/core/css/estilonav.css">

<body>

<h1 id=titTabla class="display-4">Eliminar insumos</h1>
{%if respuesta%}
<div class="alert alert-success" role="alert">
Registro eliminado exitosamente.
</div>
{%endif%}

<form method="POST">
{%csrf_token%}
<div id=divForm>
        Seleccione Insumo a eliminar:
        <select class="form-control" name="idProducto">
            {%for i in insumos%}
                <option>{{i.idProducto}}</option>
            {%endfor%}
        </select>
    <center style="padding: 10px">
        <input class="btn btn-danger" type="submit" value="Eliminar">
    </center>
</div>
</form>
<br>
</body>

{%endblock%}