{% extends 'core/base.html' %}
{% block title %}
Listar empresas
{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="static/core/css/style.css">
    <h1 id="titTabla">Listado de colaboradores</h1>
    <div id=divListar class="table-responsive">
        <table class="table table-striped table-light table-bordered table-hover ">
            <thead class="table-info">
                <tr>
                <th>Rut</th>
                <th>Nombre completo</th>
                <th>Sexo</th>
                <th>Fecha de nacimiento</th>
                <th>Direccion</th>
                <th>Telefono</th>
            </tr>
            </thead>
            {%for c in colaboradores%}
            <tr>
                <td>{{c.rut}}</td>
                <td>{{c.nombreCompleto}}</td>
                <td>{{c.sexo}}</td>
                <td>{{c.fechaNacimiento}}</td>
                <td>{{c.direccion}}</td>
                <td>{{c.telefono}}</td>
            </tr>
            {%endfor%}
        </table>
        <form action="{%url 'pdf_colaboradores'%}">
            <input type="submit" value="PDF" class="btn btn-outline-danger"></button>
        </form>
    </div>
{%endblock%}
